/*-- main styles --*/

.html, body{
    font-family: Arial, Helvetica, Sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.titles-text {
    color:rgb(2, 32, 114);
}

/*-- logo text styling --*/

.logo-text {
    font-style: italic;
}

.food-type {
    font-style: italic;
    font-size: 25px;
    color:rgb(2, 32, 114);
}

/*-- recipes.html text styles --*/

.titles-style {
   font-weight: bold; 
}


.p-text {
    font-style: italic;
    font-size: 20px;
    color:rgb(2, 32, 114); 
}

/*-- find_recipe.html p style --*/

.bold {
    font-weight: bold;
    color: black;
}

/*-- footer --*/

.footer-background {
    background-color:rgb(2, 32, 114);  
}

.icons {
    color: white;
    margin-top: 20px;
}

.footer {
   width: 100%;
}

/*-- copyright icon --*/

#bold {
    font-weight: bold;
    color: white;
}

