
/*-- body styles --*/

.html body {
    font-family: Arial, Helvetica, Sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.titles-text {
    color:rgb(2, 32, 114);
}

.titles-style {
   font-weight: bold; 
}

/*-- index.html --*/
/*-- nav logo --*/

.logo-text {
    font-size: 20px;
    font-style: italic;
    margin-left: 15px;
}

.food-type {
    font-size: 15px;
}

/*-- side-nav logo  --*/

.side-logo-text {
    font-style: italic; 
    margin-left: 10px; 
}

#bold-title {
    font-weight: bold;
}

.responsive-img {
    max-width: 100%;
    height:auto;
}

/*-- paragraph_text --*/

.p-text {
    font-style: italic;
    font-size: 17px;
    color:rgb(2, 32, 114); 
}

/*-- profile.html --*/

#profile-text {
    font-weight: bold;
    margin-top: 30px;
}

.profile-text-size {
    font-style: italic;
    font-size: 22px;
    color:rgb(2, 32, 114); 
}

.profile {
    font-style: italic;
    font-size: 17px;
    color:rgb(2, 32, 114); 
}

.margin {
    margin-top: 25px;
}

.fa-user {
    margin-bottom: 25px;
}

.circle-img {
   border-radius: 50%;
}

.hyperlink{
    margin-top: 40px;
    font-size: 20px;
}

.spacing {
    word-spacing: 20px;
}


/*-- add_recipe.html --*/

.switch {
    margin-bottom: 30px;
}


/*-- highlights.html --*/

.underline {
    text-decoration: underline;
}


/*-- footer --*/

.icons {
    color: white;
    margin-top: 30px;
}

.footer {
    padding-bottom: 15px;
}

.footer-background {
    background-color:rgb(2, 32, 114);  
}


/*-- copyright --*/

#bold {
    font-weight: bold;
    color: white;
}

