/*-- main styles --*/

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.titles-text {
    color:rgb(2, 32, 114);
}

/*-- find_recipe p style --*/

.bold {
    font-weight: bold;
    color: black;
}

/*-- footer --*/

.footer-background {
    background-color:rgb(33, 150, 243);   
}

.icons {
    color:rgb(2, 32, 114);
    margin-top: 20px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

/*-- copyright icon --*/

#bold {
    font-weight: bold;
    color: white;
}

