{% extends "base.html" %}
{% block content %}

 <h4 class="titles-text titles-style text-shadow center-align">Add Recipe</h4>

<!-- card panel -->
 <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">

        <!-- category selection dropdown -->
            <div class="row">
             <div class="input-field col s12">
              <i class="fas fa-folder-open prefix"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Recipe Category</option>
                         {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                         {% endfor %}
                    </select>
                        <label for="category_name">Recipe Category</label>
				</div>
                </div>

        <!-- recipe name -->
            <div class="row">
             <div class="input-field col s12">
              <i class="fas fa-pencil-alt prefix"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" 
                    type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>

        <!-- recipe ingredients -->
            <div class="row">
             <div class="input-field col s12">
              <i class="fas fa-list-ul prefix"></i>
                    <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="recipe_ingredients">Recipe Ingredients</label>
                </div>
            </div>

        <!-- recipe method -->
            <div class="row">
             <div class="input-field col s12">
              <i class="fas fa-align-left prefix"></i>
                    <textarea id="recipe_method" name="recipe_method" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="recipe_method">Recipe Method</label>
                </div>
            </div>

        <!-- recipe favourite switch -->
            <div class="row">
				<div class="input-field col s12">
					<div class="switch">
                     <i class="fas fa-star prefix"></i>
						<label for="mark_favourite">
                            <input type="checkbox" id="mark_favourite" name="mark_favourite">
                            <span class="lever #2196f3 blue"></span>
                            Favourite
                        </label>
					</div>

                    <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large #2196f3 blue text-shadow">
                        Add Recipe <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
                </div>
            </div>
            </div>
        </form>
    </div>

{% endblock %}