<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
		type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	{% block styles %}
	{% endblock %}

	<title>Saute & Skewers</title>
</head>

<body>


	<header>
		<!-- navbar top -->
		<nav class="nav-extended text-shadow #2196f3 blue">
			<div class="nav-wrapper">
				<a href="{{ url_for('index') }}" class="logo-text hide-on-small-only">Saute & Skewers |
					<span class="food-type">Greek Food</span></a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('highlight_recipes') }}">Highlights</a></li>
					{% if session.user %}
					<li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a href="{{ url_for('get_recipes') }}">Recipes</a></li>
					<li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
					<li><a href="{{ url_for('logout') }}">Log Out</a></li>
					{% else %}
					<li><a href="{{ url_for('login') }}">Log In</a></li>
					<li><a href="{{ url_for('register') }}">Register</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>

		<!-- side nav -->
		<ul class="sidenav side-logo-text" id="mobile-demo">
			<li>
				<a href="{{ url_for('index') }}" class="hide-on-small-only" id="bold-title">Saute & Skewers</a>
			</li>
			<li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('highlight_recipes') }}">Highlights</a></li>
			{% if session.user %}
			<li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('get_recipes') }}">Recipes</a></li>
			<li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
			<li><a href="{{ url_for('logout') }}">Log Out</a></li>
			{% else %}
			<li><a href="{{ url_for('login') }}">Log In</a></li>
			<li><a href="{{ url_for('register') }}">Register</a></li>
			{% endif %}
		</ul>
	</header>


	<section>
		<!-- flash messages -->
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<div class="row flashes">
			<h4 class="center-align titles-text">{{ message }}</h4>
		</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
	</section>

	<!-- main content -->
	<main class="container">
		{% block content %}
		{% endblock %}
	</main>

	<!-- footer -->
	<footer class="footer footer-background">
			<div class="container center-align">
                    <div class="row">
				<a href="https://www.facebook.com" target="_blank"
					class="icons text-shadow fab fa-facebook-square fa-3x"></a>
				<a href="https://www.instagram.com" target="_blank"
					class="icons text-shadow fab fa-instagram fa-3x"></a>
				<a href="https://www.twitter.com" target="_blank"
					class="icons text-shadow fab fa-twitter-square fa-3x"></a>
			</div>
		</div>

		<!-- copyright -->
		<div class="container center-align">
			<p class="text-shadow" id="bold">&copy;2020 vixwebdesigns</p>
		</div>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>


	{% block scripts %}
	{% endblock %}

</body>

</html>