{% extends "base.html" %}
{% block content %}


<h3 class="titles-text titles-style text-shadow center-align">Saute & Skewers Favourites</h3>
        <h4 class="p-text center-align">See a few of our popular favourites</h4>

<!-- hightlight recipe -1 -->
<div class="row">
	<div class="col s12">
		<p class="p-text margin titles-style center-align">Olives and Oil</p>
        <p class="p-text center-align">Ingredients: Black and Green Greek Olives, Garlic, Lemon, Olive Oil</p>
		<p class="p-text center-align">Method: Chop the garlic and mix through the olives. Pour a small amount of olive oil over, Squeeze a pinch of lemon to taste. Kali orexi!</p>
	</div>
</div>

<!-- image -->
<div class="row">
	<div class="col s12 center-align">
		<img src="static/images/pexels-olives.jpg" alt="olives">
        </div>
</div>

<!-- highlights recipe -2 -->
<div class="row">
	<div class="col s12">
		<p class="p-text margin titles-style center-align">Ouzo Portokali</p>
        <p class="p-text center-align">Ingredients: Ouzo, Orange Juice, Water, Sugar, Mint</p>
		<p class="p-text center-align">Method: Sugar the glass rim. Pour in 4oz Ouzo over ice add the orange juice 2oz dress with a sprig of mint! Ya mas!</p>
	</div>
</div>

<!-- image -->
<div class="row">
	<div class="col s12 center-align">
		<img src="static/images/pexels-photo-drink.jpeg" alt="drink">
        </div>


<!-- highlights recipe -3 -->
<div class="row">
	<div class="col s12">
		<p class="p-text margin titles-style center-align">Fried Feta Parcels</p>
        <p class="p-text center-align">Ingredients: Filo Pastry, Feta, Sesame Seeds</p>
		<p class="p-text center-align">Method: Wrap fresh Feta in sheets of Filo. Fry until golden. Pour over honey and sprinkle with sesame - serve. Nostimo! </p>
	</div>
</div>

<!-- image -->
<div class="row">
	<div class="col s12 center-align">
		<img src="static/images/pexels-fried-cheese.jpeg" alt="cheese">
    </div>
</div>
</div>
		{% endblock %}