{% extends "base.html" %}
{% block content %}
    

    <h3 class="titles-text titles-style text-shadow center-align">Welcome to Saute & Skewers</h3>

<!-- welcome message text -->
        <div class="row">
            <div class="col s12 m8 offset-m2">
            <p class="p-text center-align">One of Greece's wellknown highlights is by far it's food.</p>
                <p class="p-text center-align">From street food to quality cuisine and finally Mama's homecooked treats, 
            the Greeks have a wide variety of superb delights to offer.</p>
                <p class="p-text center-align">At Saute & Skewers share our favourites.</p>
        </div>
    </div>

<!-- images -->
        <div class="row">
            <div class="col s12 center-align">
                <img src="static/images/greek-restaurant.jpeg">
        </div>    


{% endblock %}
