{% extends "base.html" %}
{% block content %}


<h3 class="titles-text titles-style text-shadow center-align">Welcome to Sauté & Skewers</h3>

<!-- welcome message text -->
<div class="row">
	<div class="col s12 m8 offset-m2">
		<p class="p-text center-align">One of Greece's well known highlights is by far it's food.</p>
		<p class="p-text center-align">From street food and quality cuisine to Mama's homecooked treats,
			the Greeks have a wide variety of superb delights to offer.</p>
		<p class="p-text center-align">At Sauté & Skewers we share our favourites.</p>
	</div>
</div>

<!-- home image -->
<div class="row">
	<div class="col s12 center-align">
		<img class="responsive-img" src="static/images/greek-restaurant.jpeg" alt="restaurant">
        </div>
	</div>

<!-- About -->
<div class="row">
	<div class="col s12 m8 offset-m2">
    <h4 class="titles-text titles-style text-shadow center-align">About us</h4>
		<p class="p-text center-align">At Sauté & Skewers we love to cook and we are inspired by Greece, it's islands and it's culture.</p>
		<p class="p-text center-align">The community shares our favourite Greek recipes for us all to see,
			register with the site to add and share yours.</p>
		<p class="p-text center-align">Come join us and be part of our unique greek community.</p>
	</div>
</div>
    

<!-- home images 3pack -->
<div class="container">
	<div class="row">
		<div class="col s4">
			<img class="responsive-img" src="static/images/pexels-greens.jpeg" alt="greens">
            </div>
        <div class="col s4">
			<img class="responsive-img" src="static/images/pexels-street.jpeg" alt="street">
            </div>
        <div class="col s4">
			<img class="responsive-img" src="static/images/pexels-pasta.jpeg" alt="pasta">
        </div>
		</div>
	</div>

	{% endblock %}