{% extends "base.html" %}
{% block content %}

<!-- User profile name -->

<h3 class="titles-text titles-style text-shadow center-align">
	{{ username }}'s Profile
</h3>

<!-- user profile text -->
<div class="row">
	<div class="col s12 center-align">
		<p class="profile-text-size" id="profile-text">Welcome Back!</p>

		<i class="fas fa-user fa-4x titles-text"></i>

		<div class="card-panel #fafafa grey lighten-3">
			<div class="row">
				<div class="col s12 center-align">
					<p class="p-text margin">How can Sauté & Skewers inspire you today!</p>

					<p class="p-text margin">Read some of the new great recipes the community have added,</p>

					<p class="p-text">or maybe add some more of your own recent favourites.</p>

					<p class="p-text margin">Go on, take a look and be tempted to cook!</p>

					<!-- hyperlink to add_recipe.html -->
					<div class="row hyperlink spacing">
						<a href="{{ url_for('highlight_recipes') }}">Highlights</a>
						<a href="{{ url_for('get_recipes') }}">Recipes</a>
						<a href="{{ url_for('add_recipe') }}">Add-Recipe</a>
					</div>
				</div>
			</div>
		</div>
	</div>
			

{% endblock %}