{% extends "base.html" %}
{% block content %}

<!-- User profile name -->

<h3 class="titles-text titles-style text-shadow center-align">
	{{ username }}'s Profile
</h3>


<!-- user profile text -->

<div class="row">
	<div class="col s12 center-align">
		<p class="profile-text-size" id="profile-text">Welcome Back!</p>

		<div class="row">
			<div class="col s12 center-align">
				<p class="p-text margin">How can Saute & Skewers inspire you today!</p>

				<div class="row">
					<div class="col s12 center-align">
						<p class="p-text margin">Read some of the new great recipes the community has added,</p>

						<div class="row">
							<div class="col s12 center-align">
								<p class="p-text">or maybe add some more of your recent favourites.</p>

								<div class="row">
									<div class="col s12 center-align">
										<p class="p-text margin">Go on, take a look and be tempted to cook!</p>

										<!-- hyperlink to add_recipe.html -->
										<div class="row hyperlink">
											<a href="{{ url_for('add_recipe') }}">Add Recipe </a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				{% endblock %}