{% extends "base.html" %}
{% block content %}

<!-- profile page text -->

<h4 class="titles-text titles-style text-shadow center-align">
	{{ username }}'s Profile
</h4>

<div class="row">
	<div class="col s12 m8 offset-m2 center-align">
		<div class="card-panel #fafafa grey lighten-5">
			<h5 class="profile-text">Welcome Back!</h5>

		<!-- user profile text -->
		<div class="row">
			<div class="col s12 center-align">
				<p>How can Saute & Skewers inspire you today!</p>
                <br>

			<div class="row">
				<div class="col s12 center-align">
					<p>Read some of the new great recipes the community had added</p>

            <div class="row">
				<div class="col s12 center-align">
					<p>Or maybe add some more of your recent favourites</p>

				<div class="row">
					<div class="col s12 center-align">
						<p>Go on, take a look and be tempted to cook!</p>
					</div>
				</div>
			</div>
	    </div>
{% endblock %}