{% extends "base.html" %}
{% block content %}
    

{% for recipe in recipes %}
{{ recipe.category_name }}<br>
{{ recipe.recipe_name }}<br>
{{ recipe.recipe_ingredients }}<br>
{{ recipe.recipe_method }}<br>
{% endfor %}

<ul class="collapsible">
        <li>
            <div class="collapsible-header white-text #2196f3 blue text-shadow"><i class="fas fa-caret-down"></i>Snacks</div>
            <div class="collapsible-body"><span>Try our traditional Greek snacks</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text #2196f3 blue text-shadow"><i class="fas fa-caret-down"></i>Mains</div>
            <div class="collapsible-body"><span>See our iconic Greek main dishes</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text #2196f3 blue text-shadow"><i class="fas fa-caret-down"></i>Drinks</div>
            <div class="collapsible-body"><span>Lets relax with our favourite drinks</span></div>
        </li>
    </ul>


{% endblock %}
