{% extends "base.html" %}
{% block content %}

<h4 class="titles-text titles-style text-shadow center-align">Take a look at your recipes</h4>

<div class="container">
    <div class="row">
	<div class="col s6">
		<img class="responsive-img" src="static/images/pexels-advocado.jpeg" alt="advocado">
        </div>
    <div class="col s6">
		<img class="responsive-img" src="static/images/pexels-olive-oil.jpg" alt="olive-oil">
        </div>
	</div>
</div>


	{% for recipe in recipes %}

<div class="row card-panel #fafafa grey lighten-5">

<div class="p-text titles-style">
	{{ recipe.category_name }} 
    </div><br>

<div class="p-text">
<img class="responsive-img small_img" src="static/images/pexels-food-word.jpeg" alt="food"><br> 
{{ recipe.recipe_name }}<br>         
{{ recipe.recipe_ingredients }}<br>
{{ recipe.recipe_method }}<br>
</div><br>


<div class="p-text titles-style">
{{ recipe.created_by }}<br>
</div><br>

	<!-- edit and delete buttons-->
	<div class="row">
		{% if session.user|lower == recipe.created_by|lower %}
		<a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
			class="col s12 btn-small #0d47a1 blue darken-4 text-shadow">Edit</a>

		<a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" 
        class="col s12 btn-small #d50000 red accent-4 text-shadow">Delete</a>
        {% endif %}
	</div>
</div>
	{% endfor %}
	{% endblock %}