{% extends "base.html" %}
{% block content %}

<h4 class="titles-text titles-style text-shadow center-align">Take a look at your recipes</h4>

<div class="row">
	<div class="col s12 center-align">
		<img class="responsive-img" src="static/images/pexels-advocado.jpeg" alt="Advocado">
        </div>
	</div>

	{% for recipe in recipes %}
	<hr>

	{{ recipe.category_name }}<br>
{{ recipe.recipe_name }}<br>
{{ recipe.recipe_ingredients }}<br>
{{ recipe.recipe_method }}<br>
{{ recipe.created_by }}<br>


	<!-- edit and delete buttons-->
	<div class="row">
		<a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
			class="col s12 btn-small #0d47a1 blue darken-4 text-shadow">Edit</a>

		<a href="" class="col s12 btn-small #d50000 red accent-4 text-shadow">Delete</a>
	</div>
	{% endfor %}
	{% endblock %}